.team{
	min-height: 1287px;
	margin-top: 30px;
	position: relative;
	&-img{
		position: absolute;
		top: 250px;
		left: 40px;
	}
	&-img1{
		position: absolute;
		top: 200px;
		right: 200px;
	}
	&-img2{
		position: absolute;
		top: 725px;
		right: 75px;
		width: 250px;
		height: 250px;
	}
	&-img3{
		position: absolute;
		top: 1425px;
		right: 20px;

	}
	&-img4{
		position: absolute;
		top: 1130px;
		left: 150px;
		width: 175px;
		height: 175px;
	}
	&__wrapper{
		img{
			display: block;
			margin: 15px auto 0 auto;
			width: 200px;
			filter: drop-shadow(20px 12px 20px #819ed3);
			transition: transform 0.5s;
			&:hover{
				transform: scale(1.25);
				cursor: pointer;
			}
		}
		&-btn{
			display: block;
			margin: 0 auto;
			width: 150px;
			height: 30px;
			background: #3772FF;
			border-radius: 90px;
			border: none;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 12px;
			line-height: 12px;
			text-transform: uppercase;
			text-align: center;
			color: #ffffff;
			box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
			margin-bottom: 15px;
		}
		&-lead{
			margin-top: 20px;
			h5{
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 12px;
				line-height: 16px;
				color: #222222;
				text-align: center;
				margin: 24px 0 6px 0;
			}
			h4{
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 36px;
				line-height: 32px;
				color: #222222;
				text-align: center;
			}
		}
		&-leads{
			margin-top: 35px;
			display: flex;
			flex-wrap: wrap;
			row-gap: 25px;
			column-gap: 100px;
			justify-content: center;
			&-item{
				width: 294px;
				height: 321px;
				h5{
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 700;
					font-size: 12px;
					line-height: 16px;
					color: #222222;
					text-align: center;
					margin: 24px 0 6px 0;
				}
				h4{
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 700;
					font-size: 36px;
					line-height: 32px;
					color: #222222;
					text-align: center;
				}
				img{
					filter: drop-shadow(12px 8px 12px #F7859C);
					transition: transform 0.5s;
					&:hover{
						transform: scale(1.25);
						cursor: pointer;
					}
				}
			}
		}
	}
	h2{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 65px;
		line-height: 58px;
		text-align: center;
		color: #222222;
	}
}

